body {
  background-color: #f9ebd7;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  margin: 20px 100px;
  display: block;
  width: 600px;
  height: 600px;
  background: none;
  background-color: #fff7f0;
  border-radius: 50%;
  overflow: hidden;
}

.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 4;
}

.earLeft{
  position: absolute;
  width: 25%;
  height: 25%;
  left: -10%;
  top: 38%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 4;
}

.earRight{
  position: absolute;
  width: 25%;
  height: 25%;
  right: -10%;
  top: 38%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 4;
}

.innerEarLeft {
  position: absolute;
  border-radius: 100px 10px 10px 100px;
  width: 40%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #f4bc7d;
  z-index: 4;
}

.innerEarRight {
  position: absolute;
  border-radius: 10px 100px 100px 10px;
  width: 40%;
  height: 80%;
  top: 10%;
  right: 10%;
  background: #f4bc7d;
  z-index: 4;
}

.eyeLeft {
  position: absolute;
  background: #5f86c4;
  width: 10%;
  height: 13%;
  top: 38%;
  left: 25%;
  border-radius: 50%;
  z-index: 4;
}

.eyeRight {
  position: absolute;
  background: #5f86c4;
  width: 10%;
  height: 13%;
  top: 38%;
  right: 25%;
  border-radius: 50%;
  z-index: 4;
}

.pupil{
  position: absolute;
  width: 30%;
  height: 24%;
  top: 25%;
  right: 20%;
  border-radius: 50%;
  background: #fff7f0;
  z-index: 4;
}

.nose {
  position: absolute;
  background: #f4bc7d;
  width: 7%;
  height: 10%;
  left: 46%;
  top: 52%;
  border-radius: 40px;
  z-index: 4;
}

.mouth {
  position: absolute;
  width: 25%;
  height: 12%;
  top: 67%;
  left: 37%;
  background-color: #efaf9e;
  border-radius: 30px 30px 180px 180px;
  overflow: hidden;
  z-index: 4;
}

.teeth {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: -30%;
  background-color: #fff7f0;
  border-radius: 50%;
  z-index: 4;
}

.hairFront {
  position: absolute;
  width: 64%;
  height: 40%;
  left: 35%;
  top: -6%;
  background-color: #dda862;
  border-radius: 0 90%;
  z-index: 4;
}

.cheekLeft {
  position: absolute;
  background: #fcc3b4;
  width: 20%;
  height: 20%;
  left: 12%;
  top: 52%;
  border-radius: 50%;
  z-index: 4;
}

.cheekRight {
  position: absolute;
  background: #fcc3b4;
  width: 20%;
  height: 20%;
  right: 12%;
  top: 52%;
  border-radius: 50%;
  z-index: 4;
}

.hairBack {
  position: absolute;
  width: 54%;
  height: 70%;
  left: 23%;
  top: 10%;
  background-color: #dda862;
  border-radius: 150px;
  z-index: 1;
  box-shadow:inset -10px -10px 0px #c49358;
}

.glassesLeft {
  position: absolute;
  border: 5px solid #7c6d60;
  width: 31%;
  height: 25%;
  top: 33%;
  left: 12%;
  border-radius: 40px 100px 100px 100px;
  z-index: 5;
  overflow: hidden;
}

.reflectionLeft { 
  position: absolute;
  background-color: #fff; 
  opacity: 0.4; 
  width: 30%;
  height: 140%;
  top: -30%;
  left: 15%;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
}

.reflectionLeftSecond {
  position: absolute;
  background-color: #fff; 
  opacity: 0.4; 
  width: 20%;
  height: 140%;
  top: -10%;
  left: 70%;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
}

.glassesRight {
  position: absolute;
  border: 5px solid #7c6d60;
  width: 31%;
  height: 25%;
  top: 33%;
  right: 12%;
  border-radius: 100px 40px 100px 100px;
  z-index: 5;
  overflow: hidden;
}

.reflectionRight { 
  position: absolute;
  background-color: #fff; 
  opacity: 0.4; 
  width: 30%;
  height: 140%;
  top: -35%;
  left: 20%;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
}

.reflectionRightSecond {
  position: absolute;
  background-color: #fff; 
  opacity: 0.4; 
  width: 20%;
  height: 140%;
  top: -10%;
  left: 70%;
  border-radius: 10px 10px 10px 10px;
  transform: rotate(45deg);
}

.glassesMiddle {
  position: absolute;
  border-bottom: 5px solid #7c6d60;
  width: 8%;
  height: 10%;
  top: 36%;
  right: 46%;
  z-index: 4;
}

.neck {
  position: absolute;
  width: 13%;
  height: 15%;
  left: 43%;
  top: 59%;
  background-color: #fcd4a4;
  border-radius: 35px;
  z-index: 3;
}

.neckShadow {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0%;
  top: 14%;
  background-color: #f4bc7d;
  border-radius: 50%;
  z-index: 3;
}

.body {
  position: absolute;
  width: 54%;
  height: 40%;
  left: 23%;
  top: 68%;
  background-color: #c9a277;
  border-radius: 150px 150px 20px 20px;
  z-index: 2;
  overflow: hidden;
}
  