body {
  background-color: #f9ebd7;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  margin: auto;
  display: block;
  width: 600px;
  height: 420px;
  background: none;
}

.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 68%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 2;
}

.earLeft{
  position: absolute;
  width: 25%;
  height: 25%;
  left: -10%;
  top: 38%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 2;
}

.earRight{
  position: absolute;
  width: 25%;
  height: 25%;
  right: -10%;
  top: 38%;
  background: #fcd4a4;
  border-radius: 50%;
  z-index: 2;
}

.innerEarLeft {
  position: absolute;
  border-radius: 100px 10px 10px 100px;
  width: 40%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #f4bc7d;
  z-index: 2;
}

.innerEarRight {
  position: absolute;
  border-radius: 10px 100px 100px 10px;
  width: 40%;
  height: 80%;
  top: 10%;
  right: 10%;
  background: #f4bc7d;
  z-index: 2;
}

.eyeLeft {
  position: absolute;
  background: #5f86c4;
  width: 10%;
  height: 13%;
  top: 38%;
  left: 25%;
  border-radius: 50%;
  z-index: 2;
}

.eyeRight {
  position: absolute;
  background: #5f86c4;
  width: 10%;
  height: 13%;
  top: 38%;
  right: 25%;
  border-radius: 50%;
  z-index: 2;
}

.pupil{
  position: absolute;
  width: 30%;
  height: 24%;
  top: 25%;
  right: 20%;
  border-radius: 50%;
  background: #fff7f0;
  z-index: 2;
}

.nose {
  position: absolute;
  background: #f4bc7d;
  width: 7%;
  height: 10%;
  left: 47%;
  top: 52%;
  border-radius: 40px;
  z-index: 2;
}

.mouth {
  position: absolute;
  width: 25%;
  height: 12%;
  top: 67%;
  left: 38%;
  background-color: #efaf9e;
  border-radius: 20px 20px 180px 180px;
  overflow: hidden;
  z-index: 2;
}

.teeth {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: -30%;
  background-color: #fff7f0;
  border-radius: 50%;
  z-index: 2;
}

.hairFront {
  position: absolute;
  width: 64%;
  height: 40%;
  left: 35%;
  top: -6%;
  background-color: #dda862;
  border-radius: 0 90%;
  z-index: 2;
}

.hairBack {
  position: absolute;
  width: 54%;
  height: 110%;
  left: 23%;
  top: 8%;
  background-color: #dda862;
  border-radius: 150px;
  z-index: 1;
}

.glassesLeft {
  position: absolute;
  border: 5px solid #7c6d60;
  width: 31%;
  height: 25%;
  top: 30%;
  left: 12%;
  border-radius: 20px 50px 50px 50px;
  z-index: 3;
}

.glassesRight {
  position: absolute;
  border: 5px solid #7c6d60;
  width: 31%;
  height: 25%;
  top: 30%;
  right: 12%;
  border-radius: 50px 20px 50px 50px;
  z-index: 3;
}

.glassesMiddle {
  position: absolute;
  border-bottom: 5px solid #7c6d60;
  width: 8%;
  height: 10%;
  top: 34%;
  right: 46%;
  z-index: 3;
}
  